<!DOCTYPE html >
<html>
    <head>
        <title>#{get 'title' /}</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" media="screen" 
            href="@{'/public/stylesheets/main.css'}" />
        <link rel="shortcut icon" type="image/png" 
            href="@{'/public/images/favicon.png'}" />
    </head>
    <body>
        
        <div id="header">
            <div id="logo">
              
            </div>
            <ul id="tools">
                <li>
                     <a href="@{Admin.index()}">Log in to write something</a>
                </li>
                <li>
                     <a href="/users/blank">Add a user</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">Assessment for ScaleGrid.io by Matthew Nadarajah</span>
                <h1><a href="#">${blogTitle}</a></h1>
                <h4>${blogBaseline}</h2>
            </div>
        </div>
        
        <div id="main">
            #{doLayout /} 
        </div>
        
        <p id="footer">
            
        </p>
        
    </body>
</html>